{{>nav}}
<h2>{{title}}</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>lastName</th>
            <th>hourlyRate</th>
            <th>maxHoursPerWeek</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.HourlyRate}}</td>
            <td>{{this.MaxHoursPerWeek}}</td>
            <td>
                <a href="/partTimeEmployee/{{this._id}}">Edit</a>
                <a href="/partTimeEmployee/delete/{{_id}}">Delete</a>
                
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>
<br>
<br>
<br>