{{>nav}}
<h2>{{title}}</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each employees}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>
                <a href="/employee/{{_id}}">Edit</a>
                <a href="/employee/delete/{{_id}}">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>