{{>nav}}
<h2>{{title}}</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>
                <a href="/employee/{{this._id}}">Edit</a>
                <a href="/employee/delete/{{_id}}">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>

<br>
<br>
<br>
