{{>nav}}
<h2>{{title}}</h2>
<form action="/fullTimeEmployee" method="POST">
<input type="hidden" name="_id" value="{{fullTimeEmployee._id}}"/>
Name
<input type="text" name="name" value="{{fullTimeEmployee.name}}"/>
LastName
<input type="text" name="lastName" value="{{fullTimeEmployee.lastName}}"/>
Annual Salary
<input type="text" name="AnnualSalary" value="{{fullTimeEmployee.AnnualSalary}}"/>
Benefits Category
<input type="text" name="BenefitsCategory" value="{{fullTimeEmployee.BenefitsCategory}}"/>

<button type="submit">Save</button>

</form>