{{>nav}}


<div class="center">

    <div class="form-container " id="form-add-2">

        <div class="form-mini">

            <h2>{{title}}</h2>

            <form action="/fullTimeEmployee" method="POST">

                <input type="hidden" name="_id" value="{{fullTimeEmployee._id}}" />
                <h3>Name</h3>

                <input type="text" name="name" value="{{fullTimeEmployee.name}}" class="form-control"/>
                <h3>Apellido</h3>

                <input type="text" name="lastName" value="{{fullTimeEmployee.lastName}}" class="form-control"/>
                <h3>Salario Anual</h3>

                <input type="text" name="AnnualSalary" value="{{fullTimeEmployee.AnnualSalary}}" class="form-control"/>
                <h3>Beneficios de categoria</h3>

                <input type="text" name="BenefitsCategory" value="{{fullTimeEmployee.BenefitsCategory}}" class="form-control"/>
              

                <input type="submit" value="Enviar" class="btn btn-lg btn-success">

            </form>
        </div>
    </div>
</div>



{{>footer}}