{{>nav}}
<h2>{{title}}</h2>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>lastName</th>
            <th>benefitsCategory</th>
            <th>annualSalary</th>
            <th>Action</th>
        </tr>


    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.AnnualSalary}}</td>
            <td>{{this.BenefitsCategory}}</td>

            <td>
                <a href="/fullTimeEmployee/{{this._id}}">Edit</a>
                <a href="/fullTimeEmployee/delete/{{_id}}">Delete</a>
            </td>
        </tr>
        {{/each}}

</table>
<br>
<br>
<br>